@model AtlasForms.Models.ProjectBidViewModel
@{
    ViewBag.Title = "Search Job Card";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2 class="text-center">Atlas Residential & Commerical Services LLC</h2>
<br />

@Html.AntiForgeryToken()

<div class="container" style="min-height:400px">
    <div class="row">
        <div class="pull-left"><h2>@ViewBag.Title</h2></div>

    </div>
    <div class="container">
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="col-md-10">
            <div class="row">
                <div class="form-group">
                    @Html.LabelFor(model => model.ProjectHeaderId, htmlAttributes: new { @class = "control-label col-md-2 project-labels" })
                    <div class="col-md-4">
                        @Html.EditorFor(model => model.ProjectHeaderId, new { htmlAttributes = new { @class = "form-control info-field" } })
                        @Html.ValidationMessageFor(model => model.ProjectHeaderId, "", new { @class = "text-danger" })

                    </div>
                </div>
            </div>
            <br />
            <div class="row">
                <div class="form-group">
                    @Html.LabelFor(model => model.BidItemId, htmlAttributes: new { @class = "control-label col-md-2 project-labels" })
                    <div class="col-md-7">
                        @Html.DropDownListFor(model => model.BidItemId, new SelectList(ViewBag.ListBidItems, "Value", "Text"),
                                        "-Select-", new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.BidItemId, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
        </div>
        <br />
        <div class="form-group col-md-3">
            <button type="submit" class="btn-primary btn-block btn-sm" name="btnSearch">
                <span class="glyphicon glyphicon-search white"></span> Search
            </button>
        </div>
    </div>
    <div class="clearfix"></div>
    @if (ViewData.ModelState[""] != null && ViewData.ModelState[""].Errors.Count > 0)
    {  <div class="row">
        <div class="col-md-8 col-sm-6 alert alert-error">
            <button type="button" class="close" data-dismiss="alert" style="font-size:14px">close X</button>
            @Html.ValidationSummary(true, "", new { @class = "alert alert-danger" })
        </div>
    </div>
    }

    <div class="modal fade" id="modalAlertWindow" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLongTitle">Alert</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true"> </span>
                    </button>
                </div>
                <div class="modal-body">

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-success btn-sm" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
</div>



<style>
    input, select, textarea {
        border: 1px solid #808080 !important;
    }
</style>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <script src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/3/jquery.inputmask.bundle.js"></script>

    <script>
        $(function () {

            var baseUrl = function () {
                var href = window.location.href.split('/');
                return href[0] + '//' + href[2] + '/' + href[3] + '/';
            }

            $(document).ready(function () {
                $('form').attr('autocomplete', 'off');
                var prjId = $("#ProjectHeaderId").val();
                if (!prjId) {
                    $("#BidItemId").attr("disabled", true);
                }
                else {
                    var hasOptions = $("#BidItemId option[value!='']").length > 0;
                    $("#BidItemId").attr("disabled", !hasOptions);
                }

                $("button[name='btnSearch']").click(function (e) {

                    var projectId = parseInt($("input[id='ProjectHeaderId']").val());
                    var bidid = parseInt($("select[id='BidItemId']").val());
                    if (!bidid) {
                        showModalMsg("Please select valid Bid Item", "error");
                    }
                    if (projectId && _.isNumber((projectId)) && _.isNumber((bidid))) {
                        var parseData = {
                            "prjId": projectId,
                            "bidid": bidid
                        }

                        $.ajax({
                            url: baseUrl() + '/Project/JobDetails/SearchJob',
                            data: JSON.stringify(parseData),
                            dataType: "json",
                            type: "POST",
                            contentType: "application/json; charset=utf-8",
                            success: function (data) {
                                if (data && data.ProjectHeaderId && data.BidItemId && data.HardCardId) {
                                    var message = "Job Card Found! Do you wish to Edit ? <a href='/AtlasAddons/Project/JobDetails/create/" + data.ProjectHeaderId + "/bid/" + data.BidItemId + "'>Click Here</a>";
                                    showModalMsg(message, "success");
                                }
                                else if (data && data.ProjectHeaderId && data.BidItemId) {
                                    var message = "Job Card Not Found! Do you wish to create ? <a href='/AtlasAddons/Project/JobDetails/create/" + data.ProjectHeaderId + "/bid/"+data.BidItemId+"'>Click Here</a>";
                                    showModalMsg(message, "success");
                                }
                            },
                            error: function (response) {
                                alert(response.responseText);
                            },
                            failure: function (response) {
                                alert(response.responseText);
                            }
                        });
                    }
                    else {
                        showModalMsg("Invalid Project/Bid Item", "error");
                        return false;
                    }
                });

                $("#ProjectHeaderId").on("change", function (e) {
                    var prjId = e.target.value;
                    $("#BidItemId option[value!='']").remove();
                    if (prjId && _.isNumber((parseInt(prjId)))) {
                        var parseData = {
                            "prjId": parseInt($("input[id='ProjectHeaderId']").val()),
                            "bidid": ""
                        }
                        $.ajax({
                            url: baseUrl() + '/Project/JobDetails/SearchBids',
                            data: JSON.stringify(parseData),
                            dataType: "json",
                            type: "POST",
                            contentType: "application/json; charset=utf-8",
                            success: function (data) {

                                if (data) {
                                    if (data.BidItemsList && data.BidItemsList.length > 0) {
                                        $("#BidItemId").removeAttr("disabled");
                                        $.each(data.BidItemsList, function (index, val) {
                                            $('<option>' + val.BidItemHeaderId +" - "+ val.BidItemName + '</option>').appendTo("#BidItemId");
                                        });

                                    }
                                    else {
                                        showModalMsg("Invalid Project/Bid Item", "error");
                                        $("#BidItemId").attr("disabled", true);
                                    }
                                }
                            },
                            error: function (response) {
                                alert(response.responseText);
                            },
                            failure: function (response) {
                                alert(response.responseText);
                            }
                        });
                    }
                    else {
                        $("#BidItemId").attr("disabled", true);
                    }


                });


                var showModalMsg = function (message, type) {
                    var status = "";
                    if (type == "error") {
                       status =  "<span class='glyphicon glyphicon-warning-sign'></span> ";
                    }
                    else if (type == "success") {
                        status = "<span class='glyphicon glyphicon glyphicon glyphicon-ok'></span> ";
                    }
                    $(".modal-body").html(status +"<span>" + message + "</span>");
                    $('#modalAlertWindow').modal('show');
                }

            });
        });
    </script>
}


